APP_ENV="dev" # dev/prod
APP_SECRET="" # generate secret key (32 chars)

# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8.0.32&charset=utf8mb4"
DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=10.11.2-MariaDB&charset=utf8mb4"
# DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=16&charset=utf8"

MESSENGER_TRANSPORT_DSN=doctrine://default

OPENAI_API_KEY=""
OPENAI_MODEL="gpt-4o"
OPENAI_TEMPERATURE=0.2
OPENAI_TIMEOUT=20 # seconds

CHECKER_AUTH_KEYS="" # used in request to CommentController, separated with ;
LOGGER_AUTH_KEYS="" # used in request to GitHubBotController, separated with ;

GOOGLE_SPREADSHEET_ID="" # found in URL: https://docs.google.com/spreadsheets/d/{GOOGLE_SPREADSHEET_ID}/edit
GOOGLE_SPREADSHEET_NAME="" # name of the sheet in the spreadsheet (e.g. "Sheet1")