{% extends 'moderation/base.html.twig' %}

{% block body %}
	{# Filter #}
	<div class="d-flex flex-row">
		<div class="form-floating">
			<select class="form-select" id="filterSelect">
				<option value="all">all</option>
				<option value="open">open</option>
				<option value="0">false positive</option>
				<option value="1">mildly offensive</option>
				<option value="2">very offensive</option>
			</select>
			<label for="filterSelect">Filter</label>
		</div>
		<div class="form-floating mx-3">
			<select class="form-select" id="orderSelect">
				<option value="newest">newest first</option>
				<option value="">oldest first</option>
			</select>
			<label for="orderSelect">Order</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="showAllCheck">
			<label class="form-check-label" for="showAllCheck">
				Show all comments
			</label>
		</div>
		<div id="loading" class="align-content-center mx-3">
			<img src="{{ asset('img/loader.gif') }}" alt="Loading..." width="25" />
		</div>
	</div>

	{# Contents-Box #}
	<div class="my-4 w-100 border rounded">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">Toxicity level</th>
					<th scope="col">Link</th>
					<th scope="col">Title</th>
					<th scope="col">Timestamp</th>
				</tr>
			</thead>
			<tbody id="contentTable"></tbody>
		</table>
	</div>
{% endblock %}

{# JS #}
{% block javascript %}
	const loadContents = () => {
		$.ajax({
			url: "{{ path('api_moderation_comments', {'auth': auth, 'params': '__PARAMS__'}) }}"
				.replace('__PARAMS__',
					($("#filterSelect").val() ?? "all") + '-' +
					($("#orderSelect").val() ?? "newest") + '-' +
					(($("#showAllCheck").is(":checked") ?? false) ? "true" : "false")
				),
			type: "GET",
			beforeSend: () => {
				$("#loading").show();
			},
			success: (data) => {
				htmlTable = "";
				JSON.parse(data).forEach((comment) => {
					var badge = "";
					if(comment.toxicityLevel === 2)
						badge = `<span class="badge badge-pill badge-danger">very offensive</span>`;
					else if(comment.toxicityLevel === 1)
						badge = `<span class="badge badge-pill badge-warning">mildly offensive</span>`;
					else if(comment.toxicityLevel === 0)
						badge = `<span class="badge badge-pill badge-success">false positive</span>`;
					else
						badge = `<span class="badge badge-pill badge-secondary">open</span>`;

					var handlingURL = "{{ path('app_moderation_comment', {'auth': auth, 'comment_id': '__COMMENT-ID__'}) }}"
						.replace('__COMMENT-ID__', comment.id);

					htmlTable += `
						<tr>
							<td>
								<a href="${handlingURL}" class="btn btn-sm btn-outline-primary" role="button">Handle</a>
							</td>
							<td>${badge}</td>
							<td><a href="${comment.url}" target="_blank">here</a></td>
							<td>${comment.title}</td>
							<td>${comment.timestamp}</td>
						</tr>
					`;
				});
				if (htmlTable === "") {
					htmlTable = `
						<tr>
							<td colspan="5" class="text-center p-2">
								No comments found.
							</td>
						</tr>
					`;
				}
				console.log(htmlTable);
				$("#contentTable").html(htmlTable);
				$("#loading").hide();
			},
			error: (xhr, status, error) => {
				alert("There was an error loading the comments.");
				$("#loading").hide();
			}
		});
	};

	const setSessionStorage = () => {
		sessionStorage.setItem("filterSelect", $("#filterSelect").val());
		sessionStorage.setItem("orderSelect", $("#orderSelect").val());
		sessionStorage.setItem("showAllCheck", $("#showAllCheck").is(":checked"));
		loadContents();
	};

	$(document).ready(() => {
		$("#filterSelect").val(sessionStorage.getItem("filterSelect") ?? "all");
		$("#orderSelect").val(sessionStorage.getItem("orderSelect") ?? "newest");
		$("#showAllCheck").prop("checked", sessionStorage.getItem("showAllCheck") == true);
	});

	$(document).ready(() => loadContents());
	$("#filterSelect, #orderSelect, #showAllCheck").on("change", () => setSessionStorage());
{% endblock %}